// Specific CSS for your home-page
h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

a:link {
    color: #FB0006;
}

a {
  color: #FB0006;
  margin: 6px;
}
/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

